/* ---------- GLOBAL ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #050012;
    color: #fff;
    overflow-x: hidden;
    max-width: 1000px;
    align-items: center;
    margin: auto;
}

h1, h2, h3 {
    font-weight: 700;
}


/* ---------- NAVIGATION ---------- */
.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #050012cc;
    backdrop-filter: blur(8px);
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #3822B2;
    margin: auto;
    left: 0;
}

.logo {
    font-size: 20px;
    font-weight: 600;
}

.nav-links.show {
    display: flex;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    transition: .3s;
}

.nav-links a:hover {
    color: #8C15E9;
}

.burger {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* ---------- HERO SECTION ---------- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 70px 80px;
}

.hero-left h2 {
    font-size: 26px;
    font-weight: 300;
}

.hero-left h1 {
    font-size: 42px;
    margin-top: 5px;
    line-height: 1.2;
}

.role {
    margin-top: 10px;
    font-size: 18px;
    color: #8C15E9;
}

.profile-img {
    width: 300px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px #8C15E9);
}

/* ---------- ABOUT SECTION ---------- */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 70px;
}

.about-img img {
    width: 20rem;
    height: auto;
    border-radius: 20px;
    filter: drop-shadow(0 5px 10px #8C15E9);
}

.about-details {
    width: 55%;
}

.about-details h2 {
    font-size: 32px;
    font-weight: 700;
}

.about-details h2 span {
    color: #8C15E9;
}

.about-details h3 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
}

.about-button {
    background: #1E173D;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
    color: #fff;
    width: 120px;
}

.about-button:hover {
    filter: drop-shadow(0 0 8px #8C15E9);
    transform: scale(1.05);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.intro-text {
    margin-top: 15px;
    line-height: 1.6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.modal-content {
    background: #1E173D;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    color: #fff;
    box-shadow: 0 0 15px #8C15E9;
    animation: fadeIn 0.3s ease-in-out;
}

.close {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.9);}
  to {opacity: 1; transform: scale(1);}
}

/* ---------- SKILLS SECTION ---------- */
.skills-section {
    margin: 20px auto;
}

.skills-icons {
    margin-top: 25px;
    display: flex;
    gap: 30px;
}

.skills-icons img {
    width: 200px;
    filter: drop-shadow(0 0 8px #8C15E9);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skills-icons img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 15px #C770EF);
}

/* ---------- PROJECTS SECTION ---------- */
#projects {
    padding: 80px 30px;
    text-align: center;
    color: #fff;
  }
  
 
  .project-slide {
    position: relative;
    width: 480px;
    height: 311px;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    opacity: 0.5;
    transform: scale(0.8);
    filter: blur(2px);
    transition: all 0.4s ease;
  }
  
  .project-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .project-slide.active {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
    z-index: 10;
  }
  
  
  .project-slide h3 {
    position: absolute;
    bottom: 18px;
    left: 10px;
    margin: 0;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);
  }
  
  
  .carousel-wrapper {
    position: relative;
    width: 100%;
    max-width: 1600px; 
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  
  .carousel-container {
    width: 100%;
    padding: 40px 0;
    overflow-x: hidden;
  }
  
  
  .carousel-track {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center; 
    transition: transform 0.6s ease;
    width: max-content;     
  }
  
  
  .carousel-btn {
    background:#0a1b4a91;
    border: none;
    color: #fff;
    padding: 120px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 26px;
    transition: 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
  }

  .prev { left: -20px; }
  .next { right: -20px; }
  
  

/* ---------- CONTACT SECTION ---------- */
.contact {
    padding: 80px 60px;
    text-align: center;
}

.contact h2 span {
    color: #8C15E9;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contact-left {
    width: 45%;
    text-align: left;
}

.contact-left h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-description {
    line-height: 1.6;
}

.contact-info {
    margin-top: 20px;
}

.socials img {
    width: 28px;
    margin-right: 10px;
    margin-top: 10px;
    filter: brightness(0) invert(1);
    transition: .3s;
    cursor: pointer;
}

.socials img:hover {
    filter: drop-shadow(0px 0px 6px #22DDD2);
}

.contact-form {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 15px;
    background: #1E173D;
    box-shadow: 0 4px 4px 5px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.contact-form button {
    background: #1E173D;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
    color: #fff;
    width: 165px;
    height: 47px;
    flex-shrink: 0;
    margin-left: auto;
}

.contact-form button:hover {
    box-shadow: 0 0 10px #22DDD2;
}

.other-contacts {
    display: flex;
    gap: 15px;             
    margin-top: 20px;
 }
  
.other-contacts img {
    width: 45px;            
    height: 45px;
    border-radius: 50%;
    transition: transform 0.3s ease, filter 0.3s ease;      
  }
  
  .other-contacts img:hover {
    transform: scale(1.15);
    filter: drop-shadow( 0px 2px 10px #22DDD2);  
  }
  
  .other-contacts2 {
    display: flex;
    gap: 15px;              
    margin-top: 20px;
 }
  
.other-contacts2 img {
    width: 45px;            
    height: 45px;
    border-radius: 50%;
    transition: transform 0.3s ease, filter 0.3s ease;      
  }
  
  .other-contacts2 img:hover {
    transform: scale(1.15);
    filter: drop-shadow( 0px 2px 10px #22DDD2);  
  }

/* ---------- FOOTER ---------- */
.footer {
    text-align: center;
    padding: 25px 0;
    margin-top: 50px;
    background: #0a001b;
    border-top: 1px solid #8C15E9;
    font-size: 14px;
}


/* ---------- RESPONSIVE ---------- */
@media (max-width: 900px) {
    .hero,
    .about,
    .contact-container {
        flex-direction: column;
        text-align: center;
    }

    .hero .other-contacts {        
        justify-content: center;
        margin: 20px auto;
        align-items: center;

    }

    .skills-icons {
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
        margin-top: 20px;
    }

    .hero-right img {
        display: none;
    }

    .about-details,
    .contact-left,
    .contact-form {
        width: 100%;
    }

    .hero-right img,
    .about-img img {
        margin-top: 20px;
    }

    .project-cards {
        flex-direction: column;
        align-items: center;
    }

    .burger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: #050012;
        width: 200px;
        flex-direction: column;
        padding: 20px;
        display: none; 
        border-left: 1px solid #3822B2;
        border-bottom: 1px solid #3822B2;
    }

    .nav-links a {
        margin: 15px 0;
    }

    .nav-links.show {
        display: flex;
    }
}


